<footer class="fixed bottom-0 z-20 w-full p-2 sm:p-1 bg-blue-700 flex items-center justify-center dark:bg-gray-800" >
    <span class="text-lg text-green-500  justify-center dark:text-gray-300">Xander© 2023
    <a class="hover:underline me-5 md:me-6 justify-center items-center " href="https://github.com/xandernesta/odin-members-only">
        <i class="fa-github fa-brands fa-lg hover:rotate-360deg hover:text-teal-600 " alt="github icon"></i>
    </a>
    </span>
</footer>
