<% if (!member ) { %>
    <% console.log(member) %>
    <div id="info-popup-overlay" class="fixed top-0 right-0 left-0 z-10 w-full max-h-screen md:inset-0 md:h-full flex justify-center items-center">
      <div class="relative p-4 w-full max-w-lg max-h-screen md:h-auto">
          <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
              <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                  <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Notice</h3>
                  <p>
                      It looks like you aren't a Member yet. You must log in/sign up to view messages.
                  </p>
              </div>
              <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                  <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                      <button id="close-modal" type="button" onclick=closeModal() class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
                      <button id="confirm-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Confirm</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  <% } else { %>

  <% } %>