<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%#= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>-->
 
    <div class="min-h-screen pt-4 pb-6 px-4">
      <div class="text-center top-0 row-span-3">
        <div class="">
          <p>Welcome to <%= title %></p>
        </div>
        <p class="text-lg font-bold italic">Messages</p>
      </div>
      <div id="msg-container" class="grid grid-cols-1 gap-2 place-content-center place-items-center ">
        <!-- for each message in messages  -->
        <div class="text-base m-4 p-2 row-span-3 border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 max-w-1/2">
          <p>
            msg1 ms1 ms1 ms1 ms1 msg1 ms1 ms1 ms1 ms1 msg1 ms1 ms1 ms1 ms1
            msg1 ms1 ms1 ms1 ms1 msg1 ms1 ms1 ms1 ms1 msg1 ms1 ms1 ms1 ms1
            msg1 ms1 ms1 ms1 ms1msg1 ms1 ms1 ms1 ms1 msg1 ms1 ms1 ms1 ms1
          </p>
        </div>
        <div class="text-base m-4 p-2 row-span-3 border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 max-w-1/2">
          <p>
            msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2
            msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2
            msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2 msg2 ms2 ms2 ms2 ms2
          </p>
        </div>
        <div class="text-base m-4 p-2 border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 max-w-1/2">
          <p>
            msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3
            msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3
            msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3 msg3 ms3 ms3 ms3 ms3
          </p>
        </div>
        <div class="text-base m-4 p-2 border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 max-w-1/2">
          <p>
            msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4
            msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4
            msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4
            msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4 msg4
          </p>
        </div>
      </div>
    </div>

<!-- </html> -->
