<div class="max-w-sm mx-auto h-screen">
    <h1 class="text-2xl font-bold dark:text-teal-500 text-center mb-3 border-b pt-8 pb-4 border-b-teal-500/70 "><%-title%></h1>
    <% if (user) { %>
    <form class="flex flex-col gap-6 max-w-sm max-h-sm" method="POST" action="/message" >
        <div class="form-group flex flex-col ">
            <% if (typeof errors !== 'undefined' ) { %>
             <ul>
                <% for(let i = 0 ; i < errors.length; i++ ){ %>
<!--                     for(let i = 0 ; i < errors.length; i++ )  errors.forEach((err) => -->
                 <li class="text-red-600"><%=errors[i].msg%></li>
                <% }%>
             </ul>
            <% } %>
            <div>
                <label class="form-label inline-block flex-col gap-4 group pb-1 pt-2" for="title">Title <span class="text-red-600 text-sm font-normal">*</span> </label>
                <input class="form-control peer shadow-sm border-gray-200 rounded-md w-full pr-7 transition duration-200 dark:bg-slate-800 dark:focus:ring-gray-700" type="text" id="title" name="title" placeholder="Enter a title" required value=<%= undefined=== msgTitle ? '' : msgTitle %>></input>
            </div>
            <div>
                <label class="form-label inline-block flex-col gap-4 group pb-1 pt-2" for="msgText">Message Text <span class="text-red-600 text-sm font-normal">*</span></label>
                <textarea rows="4" class="form-control peer shadow-sm border-gray-200 rounded-md w-full pr-7 transition duration-200 dark:bg-slate-800 dark:focus:ring-gray-700 dark:focus:border-blue-500" type="textarea" id="msgText" name="msgText" placeholder="Enter your message" required value=<%= undefined===msgText ? '': msgText %>></textarea>
            </div>
            <button class="p-2 mt-5 min-w-full bg-teal-500 font-bold rounded-md text-black dark:text-gray-200 hover:bg-teal-700 focus:ring-2 focus:ring-gray-700 " type="submit">New Message</button>
        </div>
    </form>
    <% } else { %>
    
        <p class="text-center text-red-600 font-bold"> You must <a href="/login" class="underline">be a member</a> to write messages.</p>
    <% } %>
</div>